$greyb: #626262; //background grey colour
$lgreyb: #939393; //light grey for hover background
$bodybcol: black; //body background colour
$bodytcol: white; //body text colour

$col4h1080: 200px; //column 4 height changer for 1080
$col4h720: 250px; //column 4 height changer for 720
$col4h480: 335px; //column 4 height changer for 480
$col4hbase: 400px; //column 4 height changer for base
$col3h1080: 300px; //column 3 height changer for 1080
$col3h720: 350px; //column 3 height changer for 720
$col3h480: 425px; //column 3 height changer for 480
$col3hbase: 475px; //column 3 height changer for base
$footh: 100px; //footer height

$col41rm: 1%; //first column right margin
$col41lm: 2%; //first column left margin
$col423: 1%; //middle columns margins
$col44rm: 2%; //last column right margin
$col44lm: 1%; //last column left margin
$col4mb: 180px; //botttom margin for column 4

$marginl: 2.71%; //column 3 left side margin
$col3pad: 3px; //column 3 right and left padding
$col4pad: 1.25%; //column 4 right and left padding
$col3w: 29%; //column 3 width
$col4w: 20%; //column 4 width
$footw: 100%; //footer width
$col3pt: 1%; //column 3 padding top
$col3mb: 5%; //column 3 margin bottom

$col4fs1: 1rem; //col 4 font size for 1080
$col4fs7: 1rem; //col 4 font size for 720
$col4fs4: 1rem; //col 4 font size for 480
$col4fsbase: .7rem; //col 4 font size for base
$float: left; //float direction
$col3fs: .97rem; //col 3 font size

$colc: black; //text colour for columns
$iconhw: 80%; //scale size of icons
$texta: center; //text align
$footbot: 0; //bottom of footer (don't touch)
$footpos: fixed; //position of footer (don't touch)
$footmt: 5%; //footer top margin

$lgreyb: #939393; //light grey for hover background
$scales: 1.1; //scale size for animation
$borrad: 25%; //border radius for animation
$boxrot: -30deg; //rotation degrees for icons
$pageff: "Cabin"; //font family
$strongs: 1.3rem; //strong size
$col3bs: 1px 1px #1f0bb7, 2px 2px #1f0bb7, 3px 3px #1f0bb7; // animation for col 3
$con3tran: -6px; //translation for col 3 animation
$col4ins: inset 0 0 0 5px #1f0bb7; //col 4 inset settings